body {
    margin: 0;
  text-align: center;
}
#Wrap{
	width: 100%;
}
.TopMain{
background-color : rgb(97,90,87);
}
.TopMain .Center .TopMainWrap{

	display: grid;
 grid-template-columns: 8fr 1fr;
}
.TopMain .Center .TopMainWrap .Info{
	display: grid;
grid-template-columns: repeat(3,1fr) 2fr repeat(2,1fr);
	width: 50%;
	
}
.InfoTxt{
color : rgb(158,155,152);
font-size: 80%;
white-space: nowrap;
}
.Phone{
	
}
.TopMiddle{
background-color: rgb(239,239,239);
width: 100%;
}
input[type = "text"]{
	padding: 5%; 
	
	border-radius: 30px;
}
.TopMiddle .TopMiddleWrap{
	padding-top: 1%;
	padding-bottom: 1%;
}
.TopMiddle .TopMiddleWrap .Top{
	display: grid;
	grid-template-columns:  1fr 1fr 1.5fr 1fr 1fr;
	grid-gap: 10%;
	align-items: center;
}
 .Center .Down{
 	display: grid;
grid-template-columns: repeat(6,1fr);
	align-items: center;
}


.Center{
padding: 0 10%;
}
